<%- include("../common/head")%>
<div class="form_container ">
    <div class="col-lm-12">
    <form >
        <div class="mb-3 mt-2"><input  class="form-control"  type="text" id="name" placeholder="Name" name="name" required></div>

        <div class="mb-3 mt-2"><input  class="form-control"  type="text" id="email" placeholder="Email" name="email" required></div>
        <div class="mb-3 mt-2"><input  class="form-control"  type="password" id="password" placeholder="Password" name="password" required></div>
        <div class="mb-3 mt-2"><input  class="form-control"  type="password" id="password2" placeholder=" Confirm Password" name="password2" required></div>
        <div class="mb-3 mt-2">
            <input   class="form-control" type="submit" value="register">
        </div>

    </form>
    </div>
    <a href="/users/login"> Already registered ? Login here </a>

</div>
<script src="/js/register"></script>